* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    color: #2c2c2c;
    background-color: #f9f5ef;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* CABEÇALHO */
.header {
    background-color: #600025;
    color: #f9f5ef;
    padding: 15px 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.top-bar  {
    color: #f9f5ef;
    font-weight: bold;
    font-size: 14px;
}

.navigation-list {
    display: flex;
    gap: 20px;
}

.language-selector {
    font-size: 14px;
    font-weight: bold;
}

/* BANNER */
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f5f0;
} 
.wine-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #6b2737;
    text-align: center; /* Adicionado para centralizar o texto */
}   

h1 {
    color: #6b2737;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: normal;
    letter-spacing: 1px;
}

.contact-list {
    text-align: center;
}