body {
    margin: 0;
    font-family: 'Georgia', serif;
    color: #2c2c2c;
    background-color: #f9f5ef;
}
  
/* TOPO */

.top-bar {
    background-color: #600025;
    color: #f9f5ef;
    padding: 30px 30px;
    display: flex;
    gap: 50px;
    font-size: 15px;
}

/* TOPO */

/* Logo */

.navbar {
    background-color: #e5d4b8;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 30px;
    gap: 80px; 
    position: relative;
}

.logo {
    height: 500px;
    margin-bottom: -30px;
    margin-top: -50px;
    margin-left: 350px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    font-size: 28px;
    margin-top: 50px;
    margin-right: -150px;
}

.navbar li {
    font-weight: bold;
    color: #600025;
    cursor: pointer;

}

.navbar a {
    text-decoration: none;
    color: #600025;
    font-weight: bold;
}

/* Logo */

/* Banner Final */
.bannerFinal {
    width: 100vw;              
    height: 70vh;             
    overflow: hidden;        
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerFinal img {
    width: 100%;
    height: 60%;
    object-fit: cover;   /* faz a imagem preencher sem distorcer */
    margin-top: -500px;
}

/* Banner Final */

/* Layout Color*/
.layout{
    background-color:#FAF9F6 ;
}
/* Layout Color*/




/* excelencia 1 */

.vinho-historia {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #F5F5F5;
}


.vinho-imagem {
    flex: 1;
    min-width: 300px;
}

.vinho-imagem img {
    width: 100%;
    height: auto;
    margin-top: -300px;
    margin-left: 50px;
  }

.vinho-conteudo {
    flex: 1;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1000px;
}

.categoria {
    font-size: 25px;
    color: #600025;
    margin-bottom: 20px;
}

.titulo {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
}

.descricao {
    font-size: 25px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 40px;
}

.botao-contato {
    display: inline-block;
    padding: 16px 14px;
    font-size: 25px;
    border: 1.5px solid #000;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    max-width: fit-content;  
    width: auto;             
    transition: background-color 0.3s ease, color 0.3s ease;
}



.botao-contato:hover {
    background-color: #600025;
    color: #fff;
}

/* excelencia 1 */

/* excelencia 2 */

.vinho-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: row-reverse; /* <-- Isso aqui inverte! */

}


.vinho-imagemm {
    flex: 1;
    min-width: 300px;
}

.vinho-imagemm img {
    width: 100%;
    height: auto;
    margin-left: -50px;
    margin-top: -650px;
    
  }

.vinho-conteudoo {
    flex: 1;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1500px;
}

.categoriaa {
    font-size: 25px;
    color: #600025;
    margin-bottom: 20px;
}

.tituloo {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
}

.descricaoo {
    font-size: 25px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 40px;
}

.botao-contatoo {
    display: inline-block;
    padding: 16px 14px;
    font-size: 25px;
    border: 1.5px solid #000;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    max-width: fit-content;  /* Faz o botão ter apenas o tamanho do conteúdo */
    width: auto;             /* Garante que não vai esticar */
    transition: background-color 0.3s ease, color 0.3s ease;
}


.botao-contatoo:hover {
    background-color: #600025;
    color: #fff;
}

/* excelencia 2 */



/* Banner */

.banner {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -800px;
}

.banner img {
    width: 100%;
    height: 400px; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços em branco abaixo da imagem */
}

/* Banner */


/* Notícias */

.newsletter-container {
    background-color: #FAF9F6;
    padding: 142px 112px;
    display: flex;
    justify-content: space-between;
}

.subscribe > span {
    display: block;
    max-width: 638px;
    font-weight: 700;
    font-size: 2rem;
}

.subscribe > a > button {
    padding: 12px 112px;
    margin-top: 24px;
    border-radius: 4px;
    background: #600025;
    color: #fff;
    font-weight: 700;
}

.results > span {
    display: block;
}

.results .number {
    font-size: 5.25rem;
    color: #600025;
    font-weight: 700;
}

.results .description {
    font-size: 1.5rem;
    font-weight: 600;
}
/* Notícias */


/* Pareciros */

.partners-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e5d4b8;
}
  
.partners-content {
    padding-left: 112px;
}

.partners-content > h1 {
    display: block;
    max-width: 506px;
    font-size: 2rem;
}

.partners-content > span {
    margin-top: 20px;
    display: block;
    opacity: 0.7;
    max-width: 470;
}

.partners-content > a > button {
    padding: 12px 32px;
    margin-top: 24px;
    border-radius: 4px;
    background: #600025;
    color: #fff;
    font-weight: 700;
    display: flex;
    gap: 4px;
}
/* Pareciros */

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #600025;
    background-color: #FAF9F6;
}
